@import url("non.geist");
@import url("non.geist/mono");
@import url("https://fonts.googleapis.com/css2?family=Special+Gothic+Expanded+One&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 228 6% 84%;
    --foreground: 228 7% 24%;
    --card: 228 6% 89%;
    --card-foreground: 240 10% 3.9%;
    --popover: 228 6% 100%;
    --popover-foreground: 240 10% 3.9%;
    --active: 240 5.9% 10%;
    --active-foreground: 228 6% 98%;
    --primary: 226 98% 44%;
    --primary-foreground: 226 6% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --radius: 0.5rem;

    --header-height: 70px;
    --num-grid-cols: 12;
    --px-section: 5.9vw;
    --py-section: calc(var(--vh) * 16);
    --testing-grid-cols: 12;
    --column-gap: 2vw;
    --line-heading: 0.9;
    --text-body: 22px;
    --line-body: 1.1;
  }

  .dark {
    --background: 240 6% 3.9%;
    --foreground: 0 0% 85%;
    --card: 240 6% 13%;
    --card-foreground: 0 0% 98%;
    --popover: 240 6% 13%;
    --popover-foreground: 0 0% 98%;
    --primary: 226 98% 44%;
    --primary-foreground: 226 6% 98%;
    --active: 0 0% 98%;
    --active-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 12%;
    --muted-foreground: 0 0% 75%;
    --accent: 0 0% 7.6%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 47%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
    font-synthesis-weight: none;
    text-rendering: optimizeLegibility;
  }
}

.ray {
  --gradient-opacity: 0.85;
  --ray-gradient: radial-gradient(
    rgba(220, 255, 231, var(--gradient-opacity)) 0%,
    rgba(43, 166, 255, 0) 100%
  );
  transition: opacity 0.25s linear;
  position: fixed;
  inset: 0;
  pointer-events: none;
  user-select: none;
  animation: 0.25s linear 0s 1 fade-in;
}

/* these light rays are from bolt.new */
.ray[data-theme="light"] {
  --gradient-opacity: 0.5;
}

.ray .light-ray {
  position: absolute;
  border-radius: 100%;
  background: var(--ray-gradient);
}

.ray .ray-one {
  width: 480px;
  height: 680px;
  transform: rotate(80deg);
  top: -540px;
  left: 250px;
  filter: blur(110px);
}

.ray .ray-two {
  width: 110px;
  height: 400px;
  transform: rotate(-20deg);
  top: -280px;
  left: 350px;
  mix-blend-mode: overlay;
  opacity: 0.6;
  filter: blur(60px);
}

.ray .ray-three {
  width: 400px;
  height: 370px;
  top: -350px;
  left: 200px;
  mix-blend-mode: overlay;
  opacity: 0.6;
  filter: blur(21px);
}

.ray .ray-four {
  position: absolute;
  width: 330px;
  height: 370px;
  top: -330px;
  left: 50px;
  mix-blend-mode: overlay;
  opacity: 0.5;
  filter: blur(21px);
}

.ray .ray-five {
  position: absolute;
  width: 110px;
  height: 400px;
  transform: rotate(-40deg);
  top: -280px;
  left: -10px;
  mix-blend-mode: overlay;
  opacity: 0.8;
  filter: blur(60px);
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade-and-move-in {
  0% {
    opacity: 0;
    transform: translateY(var(--translate-y, 10px));
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.prose img {
  @apply rounded-lg;
}

.max-w-section {
  width: 100%;
  max-width: 1600px;
  margin: auto;
}

.grid-layout {
  -moz-column-gap: var(--column-gap);
  column-gap: var(--column-gap);
  display: grid;
  grid-template-columns: repeat(var(--num-grid-cols), 1fr);
}

.px-section {
  padding-left: var(--px-section);
  padding-right: var(--px-section);
}

.py-section {
  padding-top: var(--py-section);
  padding-bottom: var(--py-section);
}
