SLACK_BOT_TOKEN="xoxb-..."
UPSTASH_REDIS_REST_URL="https://**.upstash.io"
UPSTASH_REDIS_REST_TOKEN="*******************"
# Generate with: node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"
FORM_SECRET="replace-with-random-32-byte-secret"
